alabaster
annotated-types
anyio
asgiref
autopep8
babel
black
certifi
charset-normalizer
click
colorama
distro
Django
django-cors-headers
docutils
flake8
h11
httpcore
httpx
idna
imagesize
iniconfig
Jinja2
jiter
lxml
MarkupSafe
mccabe
mypy_extensions
mysqlclient
openai
packaging
pathspec
pillow
platformdirs
pluggy
pycodestyle
pydantic
pydantic_core
pyflakes
Pygments
pytest
pytest-django
python-dateutil
python-docx
python-dotenv
regex
requests
roman-numerals-py
six
sniffio
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
