{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h3>Profile</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Username:</strong> {{ user.username }}</p>
                            <p><strong>Email:</strong> {{ user.email }}</p>
                            <p><strong>First Name:</strong> {{ user.first_name }}</p>
                            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                            <p><strong>User Type:</strong> {{ user.userprofile.user_type|title }}</p>
                        </div>
                    </div>
                    <div class="mt-3">
                        <a href="#" class="btn btn-primary">Edit Profile</a>
                        <a href="{% url 'accounts:settings' %}" class="btn btn-secondary">Settings</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
